body{
	background-image:url("https://eskipaper.com/images/croatia-wallpaper-2.jpg");
	background-size:cover;
	margin:25px;
	text-align:center;
}
	
.selector-for-some-widget {
  box-sizing: content-box;
}
header img{
border-radius:50px;
opacity:80%;
border-raduis:70px;
border-style:outset;
box-shadow:3px 18px red;
margin:25px;
}
header{
	border-radius:50px;

border-radius:70px;
border-style:outset;
box-shadow:3px 18px red;
margin:25px;
}
h2{
	border-radius:50px;

border-radius:70px;
border-style:outset;
box-shadow:3px 18px red;
margin:25px;
font-size:50px;
background-color:#fc8686;

}
p{
	border-radius:50px;
border-radius:70px;
border-style:outset;
box-shadow:3px 18px red;
margin:25px;
font-size:20px;
background-color:#fc8686;

}
section{
	border-radius:50px;

border-radius:70px;
border-style:outset;
box-shadow:3px 18px red;
margin:25px;
background-color:#fc8686;

}
fieldset,legend{
	border-radius:50px;

border-radius:70px;
border-style:outset;
box-shadow:3px 18px red;
margin:25px;
font-size:30px;
background-color:#fc8686;

	
}
